@model IEnumerable<PreventWebMVC.Models.Prev>

@{
    ViewData["Title"] = "Preventivas";
}
<h2 style="text-align:center">Preventivas</h2>
<hr />
<head>


</head>

<form action="" class="navbar-form navbar-right">
</form>
<table class="table table-striped table-hover table-info">
    <thead>
        <tr class="index">

            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Obs)
            </th>

            <th style="text-align:center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Obs)
                </td>

                <td style="text-align:center">
                    <a asp-action="Edit" class="btn myinfo" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn myinfo" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" class="btn myinfo" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn myinfo">Criar</a>
</p>
