@model IEnumerable<PreventWebMVC.Models.Tables>
@{
    ViewData["Title"] = "Monitor";
}
<head>

</head>

    <h2 style="text-align:center">Monitor</h2>
<hr />

<p>
    <h2 style="text-align:center;margin-top:50px">Preventivas em Atraso  <img style="margin-left: 30px;width:100px" src="~/images/exclamation-mark (1).png"> </h2>
</p>

<table class="table table-striped table-hover table-danger">
    <thead>
        <tr class="bg-danger">
            <th style="text-align:center">
                ID
            </th>
            <th style="text-align:center">
                Nome do Computador
            </th>
            <th style="text-align:center">
                Ultima Preventiva
            </th>
            <th style="text-align:center">
                Observações
            </th>
            <th style="text-align:center" class="hide-td-mobile">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var item2 in item.prevdelay)
            {
                <tr style="text-align:center">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.ComputerId)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Date)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Obs)
                    </td>


                    <td style="text-align:center" class="hide-td-mobile">
                        <a asp-action="Edit" class="btn mydanger" asp-route-id="@item2.Id">Editar</a>
                        <a asp-action="Details" class="btn mydanger" asp-route-id="@item2.Id">Detalhes</a>
                        <a asp-action="Delete" class="btn mydanger" asp-route-id="@item2.Id">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>







<p>
    <h2 style="text-align: center; margin-top: 50px">Preventivas Próximo a Expirar <img style="margin-left: 30px;width:100px" src="~/images/attention (4).png"> </h2>
 
</p>


<table class="table table-striped table-hover table-warning">
    <thead>
        <tr class="bg-warning">
            <th style="text-align:center">
                ID
            </th>
            <th style="text-align:center">
                Nome do Computador
            </th>
            <th style="text-align:center">
                Ultima Preventiva
            </th>
            <th style="text-align:center">
                Observações
            </th>
            <th style="text-align:center" class="hide-td-mobile">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var item2 in item.prevalert)
            {
                <tr style="text-align:center">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.ComputerId)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Date)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Obs)
                    </td>


                    <td style="text-align:center" class="hide-td-mobile">
                        <a asp-action="Edit" class="btn mywarning" asp-route-id="@item2.Id">Editar</a>
                        <a asp-action="Details" class="btn mywarning" asp-route-id="@item2.Id">Detalhes</a>
                        <a asp-action="Delete" class="btn mywarning" asp-route-id="@item2.Id">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>




<p>
    <h2 style="text-align: center; margin-top: 50px">Preventivas em Dia <img style="margin-left: 30px;width:100px" src="~/images/verificar (1).png"> </h2>
</p>

<table class="table table-striped table-hover table-info">
    <thead>
        <tr class="index">
            <th style="text-align:center">
                ID
            </th>
            <th style="text-align:center">
                Nome do Computador
            </th>
            <th style="text-align:center">
                Ultima Preventiva
            </th>
            <th style="text-align:center">
                Observações
            </th>
            <th style="text-align:center" class="hide-td-mobile">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var item2 in item.prevok)
            {
                <tr style="text-align:center">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.ComputerId)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Date)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item2.Obs)
                    </td>


                    <td style="text-align:center" class="hide-td-mobile">
                        <a asp-action="Edit" class="btn myinfo" asp-route-id="@item2.Id">Editar</a>
                        <a asp-action="Details" class="btn myinfo" asp-route-id="@item2.Id">Detalhes</a>
                        <a asp-action="Delete" class="btn myinfo" asp-route-id="@item2.Id">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>



